* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(128, 93, 67);
    color: white;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    height: 100vh;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.logo-container img {
    width: 50px;
    margin-left: 100px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;


}
.logo-container span {
    font-size: 23px;
    margin-left: 5px;
    color: #fff;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
}
#navbar ul li a:hover {
    display: inline-block;
    border-radius: 15px;
    border: none;
    color: #fff;
    border: 1px solid #fff;
}
.hero {
    padding: 80px 40px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.hero-text {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
} 
.hero-text h3 {
    color: #fff;
    font-size: 24px;
    font-style: italic;
    margin: 0 40px 0;
}
.hero-text h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
    margin: 10px 0 20px;
}
.hero-text p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
    margin: 5px 15px 40px;
}
.hero-buttons a {
    display: inline-block;
    border-radius: 15px;
    border: none;
    padding: 15px 30px;
    color: #fff;
    border: 1px solid #fff;
}
.hero-image img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 15px;

}
