<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choisir Spécialité - Entreprise</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Choisissez votre spécialité (Entreprise)</h2>
    <form action="{{ url_for('companies') }}" method="post">
        <label><input type="radio" name="specialite" value="informatique"> Informatique</label><br>
        <label><input type="radio" name="specialite" value="mecanique"> Mécanique</label><br>
        <label><input type="radio" name="specialite" value="education"> Éducation</label><br>
        <label><input type="radio" name="specialite" value="cours"> Cours Particuliers</label><br><br>
        <a href="{{ url_for('companies')}}" class="btn">Suivant</a>
    </form>
</body>
</html>