<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcom.css') }}">
<body>
    <div class="container">
        <main>
            <h1>Improve your <br> resume   </h1>
            <p>Designed by top recruiters, our AI-powered platform instantly gives you tailored feedback on your resume .<br> 
                Land 5x more interviews, opportunities and job offers.</p>
            <a
              href="{{ url_for('home') }}" class="next-button"> Go to your dashbord </a>
        </main>
    </div>
</body>
</html>    













