<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcom.css') }}">
</head>   
<body>
    <header>
        <div id="navbar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images (5).jpeg') }}" alt="cv" >
                 <span >Jobs</span>
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li>
                        <a 
                        href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a 
                        href="{{ url_for('Jobs')}}">Jobs</a>
                    </li>
                    <li>
                        <a 
                        href="{{ url_for('contact')}}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
            <div class="hero">
                <div class="hero-content">
                    <div class="hero-text">
                        <h3>Best Jobs</h3>
                        <h1>Welcome To Our Smart Platform </h1>
                        <p> Our platform helps you analyze, sort,<br> 
                            and match job seekers resumes with company job offers.<br>
                           Sign up now to discover the best <br>
                           opportunities that match your profile.</p>
                        <div class="hero-buttons">
                            <a href="{{ url_for('login_company')}}" class="btn">Company Registration</a> 
                            <a href="{{ url_for('login_job_seeker')}}" class="btn">Condidate Registration</a>                      
                        </div>
                    </div>
                    <div class="hero-image">
                        <img src="{{ url_for('static', filename='unnamed.jpg') }}" alt="image">
                    </div>
                </div>
            </div> 
            
    </header>
    
</body>
</html>    













